#header {width:100%; text-align:center; font-style:courier;
    border-radius:10px; background:rgb(194, 92, 194); border-bottom:5px solid azure;}

.rightnav {width:20%;height:570px;padding-left:10px;padding-right:10px;text-align:left;
    float:right;margin:15px;font-style:courier;position:absolute;right:70px}

#centerbody {margin:10px;float:center; text-align:left;
    width:70%;height:180px;clear:both;font-style:courier;}

.fixedimg {float: right; position:relative; top:-185px;width:25%; height:195px;}

#bottomright {margin:10px;float:center; text-align:left;
    width:70%;height:200px;font-style:courier;}

.img {position: relative; float: right; top:20px; bottom:10px; border-bottom: 15px solid azure;
    width:200px; height:300px; padding-left: 10px; content:"width:device, initial-scale:1.0"}

.biopic {position: relative; width: 200px; height:325px;}

.footer {width:30%; text-align:center; font:courier;
    background:rgb(194, 92, 194); border-bottom:2px; position:fixed; bottom:10px;}

.backhome {position:relative; left: 1300px;}